[Unit]
Description=Setup ipvlan0 interface
After=network-online.target docker.service
Wants=network-online.target docker.service
[Service]
Type=oneshot
ExecStart=/bin/ipvlan0
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
